body {
    background-color: rgb(59, 59, 59);
    height: 100vh;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px black;
    color: white;
    text-decoration: underline;
}

p  {
    font-family: fantasy;
    text-shadow: 1px 1px 1px rgb(102, 102, 102);
}

.colums {
    column-count: 2;
}

.main {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgb(68, 68, 68);
    background-color: rgb(104, 104, 104);
    background-image: linear-gradient(to bottom right, rgb(114, 8, 8), rgb(22, 0, 0));
    height: 100vh;
    margin: 7px;
    height: 100vh;
}

.main-text {
    margin: 10px;
    color: rgb(216, 216, 216);
}

    table {
    border-collapse: collapse;
    margin: 10px;
    background-image: linear-gradient(to bottom right, rgb(214, 212, 87), rgb(160, 73, 15));
}

td {
    border: 2px solid #000000;
    padding: 8px;
    text-align: left;
    width: 200px;
}

.obrazek {
    width: 700px;
    height: 500;
    border-radius: 10px;
    display: block;
    align-items: center;
    margin-left: 580px;
}
  
